@tailwind base;
@tailwind components;
@tailwind utilities;


.mapboxgl-popup-content{
  width: fit-content!important;
}

.mapboxgl-popup{
  max-width: 100%!important;
}


html,body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}